body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  nav {
    width: 100%;
    background-color: #333;
    padding: 1em 0;
    margin-bottom: 50px;
    position: fixed;;
    top:0;
    left: 0;
    z-index: 1000;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a,
  nav ul li button {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  nav ul li button:hover,
  nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  .container {
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 100px auto 0;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 1em;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    margin-top: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #575757;
  }
  
  .welcome-message {
    font-size: 1.2em;
    color: #333;
  }
  